@charset "UTF-8"

/*ベース*/
body,
h2,
p {
  font-family: 'Zen Old Mincho', serif;
}

h1 {
  font-family: 'Murecho', sans-serif;
}

a:visited {
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.art-main-holder {
  position: relative;
  right: 0;
}  

/*ヘッダー　　明日確認*/
header.art-header-one {
  position: relative;
  z-index: 50;

  &.art-menu-open {
    .art-header-one-content {
      .art-navigation-container {
        left: -275px;
      }
    }
  }

  &.art-dark-header-text {
    .art-header-one-content {
      .art-navigation-container {
        .left-content {
          .art--logo-container {
            a {
              display: block;
              padding: 13px 0;
              //padding: 20px 0;
            }
            .light-logotype {
              display: none;
            }
            .dark-logotype {
              display: block;
            }
          }
        }
        .center-content {
          nav {
            ul.menu {
              > li {
                > a {
                  color: #0f1111;
                  &:hover {
                    border-bottom: 1px solid #0f1111;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        .right-content {
          .art-social-container {
            a {
              color: #000;
              i {
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
          .hamburger-inner,
          .hamburger-inner::after,
          .hamburger-inner::before {
            background-color: #000;
          }
        }
      }
    }
  }
}

/*モバイルメニュー*/
body.admin-bar .art-mobile-menu-wrapper .art-nav-container .art-mobile-menu-navigation-wrapper {
  padding: 45px 10px;
}

.art-mobile-menu-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1098;
}

.art-sidebar-overlay.art-mobile-menu-icon {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1099;
  cursor: pointer;
}

.art-mobile-menu-navigation-wrapper {
  width: 280px;
  padding: 15px 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1800;
  background: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

/*メイン*/
.elementor a {
  box-shadow: none;
}

.elementor hr {
  margin: 0;
  background-color: transparent;
}

.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.elementor-section {
  position: relative;
}

.elementor-section .elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}

.elementor-colum {
  min-height: 1px;
}

.elementor-colum .elementor-colum-wrap {
  position: relative;
  display: flex;
}

.elementor-colum-wrap {
  width: 100%;
}

.elementor-column-gap-narrow>.elementor-column>.elementor-element-populated {
  padding: 5px
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px
}

.elementor-column-gap-extended>.elementor-column>.elementor-element-populated {
  padding: 15px
}

.elementor-column-gap-wide>.elementor-column>.elementor-element-populated {
  padding: 20px
}

.elementor-column-gap-wider>.elementor-column>.elementor-element-populated {
  padding: 30px
}

.elementor-inner-section .elementor-column-gap-no .elementor-element-populated {
  padding: 0
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-widget-wrap>.elementor-element {
  width: 100%;
}

.elementor a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none
}

.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.elementor-align-center {
  text-align: center;
}

.elementor-align-center .elementor-button {
  width: auto;
}

/*sectionbox*/
.elementor-02121 .elementor-element.elementor-element-0121a03 .elementor-spacer-inner {
  height: 156px;
}

.elementor-02121 .elementor-element.elementor-element-0321a03 .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-0421d03 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-0521e03 .elementor-spacer-inner {
  height: 77px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b1 .elementor-spacer-inner {
  height: 70px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b2 {
  text-align: center;
  color: #0f1111;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 7.2px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b3 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b4 {
  text-align: center;
  color: #0f1111;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b5 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b6 .elementor-button .elementor-align-icon-right {
  margin-left: 0px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b6 .elementor-button .elementor-align-icon-left {
  margin-right: 0px;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b6 .elementor-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.2px;
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-0621f03b7 .elementor-spacer-inner {
  height: 99px;
}

.elementor-02121 .elementor-element.elementor-element-0721g03.elementor-spacer-inner {
  height: 77px;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b1 .elementor-spacer-inner {
  height: 32px;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b2 {
  text-align: center;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b3 .elementor-spacer-inner {
  height: 10px;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b4 {
  text-align: center;
  color: #0f1111;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b5 .elementor-spacer-inner {
  height: 10px;
}

.elementor-02121 .elementor-element.elementor-element-0821h03b6 .elementor-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.1px;
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-0921i03 .elementor-spacer-inner {
  height: 77px;
}

.elementor-02121 .elementor-element.elementor-element-1021j03b1 .elementor-spacer-inner {
  height: 70px;
}

.elementor-02121 .elementor-element.elementor-element-1021j03b2 {
  text-align: center;
  color: #0f1111;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 7.2px;
}

.elementor-02121 .elementor-element.elementor-element-0ddb4d6 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-1021j03b4 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 3.5px;
}

.elementor-02121 .elementor-element.elementor-element-1021j03b5 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-1021j03b6 .elementor-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.1px;
  background-color: #0f1111;
}

.elementor02121 .elementor-element.elementor-element-1021j03b7 .elementor-spacer-inner {
  height: 70px;
}

.elementor-02121 .elementor-element.elementor-element-1121k03 .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b1 .elementor-spacer-inner {
  height: 85px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b2 {
  text-align: center;
  color: #0f1111;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 7.2px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b3 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b4 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 3.5px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b5 .elementor-spacer-inner {
  height: 30px;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b6 .elementor-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.1px;
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1221l03b7 .elementor-spacer-inner {
  height: 85px;
}

.elementor-02121 .elementor-element.elementor-element-1321m03 .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03a {
  text-align: center;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b1 .elementor-spacer-inner {
  height: 10px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b2 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b3 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b4 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b5 {
  text-align: center;
  color: #0f1111;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-1421n03b6 {
  text-align: center;
  color: #0f1111;
  font-size: 9px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4.2px;
}

.elementor-02121 .elementor-element.elementor-element-1521o03a .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1521o03b .elementor-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.1px;
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1621p03 .elementor-spacer-inner {
  height: 100px;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a .elementor-icon-wrapper {
  text-align: center;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a.elementor-view-stacked .elementor-icon {
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-6a7f10c.elementor-view-default .elementor-icon {
  color: #0f1111;
  border-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-6a7f10c.elementor-view-default .elementor-icon svg {
  fill: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a .elementor-icon {
  font-size: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1721q03a .elementor-icon i, .elementor-3560 .elementor-element.elementor-element-6a7f10c .elementor-icon svg {
  transform: rotate(0deg);
}

.elementor-02121 .elementor-element.elementor-element-1721q03b {
  text-align: center;
  color: #0f1111;
  font-size: 10px;
  font-weight: 400;
}

.elementor-02121 .elementor-element.elementor-element-1821r03 .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a .elementor-icon-wrapper {
  text-align: center;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a.elementor-view-stacked .elementor-icon {
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-d0d4144.elementor-view-default .elementor-icon {
  color: #0f1111;
  border-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-d0d4144.elementor-view-default .elementor-icon svg {
  fill: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a .elementor-icon {
  font-size: 50px;
}

.elementor-02121 .elementor-element.elementor-element-1921s03a .elementor-icon i, .elementor-3560 .elementor-element.elementor-element-d0d4144 .elementor-icon svg {
  transform: rotate(0deg);
}

.elementor-02121 .elementor-element.elementor-element-1921s03b {
  text-align: center;
  color: #0f1111;
  font-size: 10px;
  font-weight: 400;
}

.elementor-02121 .elementor-element.elementor-element-2021t03 .elementor-spacer-inner {
  height: 50px;
}

.elementor-02121 .elementor-element.elementor-element-2121u03 .elementor-icon-wrapper {
  text-align: center;
}

.elementor-02121 .elementor-element.elementor-element-2121u03.elementor-view-stacked .elementor-icon {
  background-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-2121u03.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-5339d56.elementor-view-default .elementor-icon {
  color: #0f1111;
  border-color: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-2121u03.elementor-view-framed .elementor-icon, .elementor-3560 .elementor-element.elementor-element-5339d56.elementor-view-default .elementor-icon svg {
  fill: #0f1111;
}

.elementor-02121 .elementor-element.elementor-element-2121u03 .elementor-icon {
  font-size: 51px;
}

.elementor-02121 .elementor-element.elementor-element-2121u03 .elementor-icon i, .elementor-3560 .elementor-element.elementor-element-5339d56 .elementor-icon svg {
  transform: rotate(0deg);
}

@media (max-width: 767px) {
  header.art-header-one .art-header-one-content {
    padding: 0 22px;
  }
}